@page
@model employee_manager.Models.Employee

@using employee_manager.Models
@{
    
    ViewBag.Title = "Edit Page";
}
    
<form asp-controller="Produto" asp-action="Edit" method="post">
    <div class="form-group">
        <br>
        <label>Name:  </label>
        <input type="text" value=@ViewBag.Employee.Name class="col-form-label">
    </div>
    <div>
        <a asp-controller="Produto" asp-action="Index" class="btn btn-primary">Back</a>
    </div>
</form>
    
